div:nth-child(4n+1) {
  clear: left;
}
.components {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  float: left;
}
.components.color {
  background-color: aquamarine;
}
.components.nocolor {
  background-color: white;
}
.components.over {
  border: 1px solid red;
}

