img {
    width: 30%;
    margin: 1.66%;
    float: left;
}

p {
    font-family: raleway;
    font-size: 30px;
    font-weight: 800px;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
    margin-left: 1.66%;
}