* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}
.type {
  ul {
    li {
      list-style-type: none;
      .item-01 {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        background: url(../images/lakhon-khol.jpg) no-repeat center;
        background-size: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .item-02 {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        background: url(../images/lakhon-khol.jpg) no-repeat center;
        background-size: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .item-03 {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        background: url(../images/lakhon-khol.jpg) no-repeat center;
        background-size: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .item-04 {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        background: url(../images/lakhon-khol.jpg) no-repeat center;
        background-size: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .item-05 {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        background: url(../images/lakhon-khol.jpg) no-repeat center;
        background-size: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .item-06 {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        background: url(../images/Sbek-touch.jpg) no-repeat center;
        background-size: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .item-07 {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 10px;
        background: url(../images/Sbek-thom.jpg) no-repeat center;
        background-size: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
