body {
  background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80);
  background-size: cover;
  background-position: center;
  font-family: lato;
  color: white;
}

#contact {
  text-align: center;
  padding-top: 25%;
  text-shadow: 1px 1px 4px black;
}

hr {
  width: 400px;
}

html {
  height: 100%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
