body {
    font-family: Source Sans Pro;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
}

div {
    margin: 1% 1% 1% 1%;
    border: 10px solid #bdc3c7;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

.date {
    color: #3498db;
    letter-spacing: 5px;
}

h2 {
    color: #2c3e50;
}

.first {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

/* Flaired edges, by Tomas Theunissen */

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}