html {
  height: 100%;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/grad-bg.png")
    no-repeat center center/cover #f9d8ad;
  height: 100%;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.fa {
  font-size: 20px;
}

.fa-info {
  color: white;
}
.card-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .card {
    width: 300px;
    height: 508px;
    max-width: 330px;
    background: white;
    position: relative;
    border-radius: 12px;
    top: 0%;
    left: 0%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    transform: translate3d(0%, 0%, 0);
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    h2 {
      padding: 20px;
      color: white;
      background: #ff2670;
      font-weight: 300;
      text-align: center;
      font-size: 25px;
      font-family: "Moulpali", cursive;
    }
    .img-wrapper {
      padding: 0;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(62, 79, 178, 0.25);
        width: 100%;
      }

      & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 0;
        display: block;
        position: relative;
      }
    }
    .detail {
      color: #777;
      padding: 20px;
      line-height: 1.5;
      font-family: "Siemreap", cursive;
    }
    .button-wrapper {
      width: 50px;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: 50% 50%;
      right: 20px;
      bottom: 20px;
      &.clicked {
        transform: rotate(90deg) translateY(-96px);
        right: 0;
        bottom: 0;
        transition: 0.3s all ease 0.6s;

        .main-button {
          opacity: 0;
          transition: 0.3s all ease 0.3s;
        }
        .layer {
          transform: scale(100);
          transition: 2.25s all ease 0.9s;
        }
      }
      .layer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        background: #ff2670;
        border-radius: 50%;
        z-index: -99;
        pointer-events: none;
      }
      .main-button {
        background: #ff2670;
        align-self: flex-end;
        .ripple {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          border-radius: 50%;
          z-index: -9;
          background: transparent;
          border: 1px solid #ff2670;
          transition: 0.3s all ease;
          opacity: 1;
        }
        .rippling {
          animation: 0.3s rippling 1;
        }
      }
    }
    .layered-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;

      &.active {
        opacity: 1;
        .content img {
          opacity: 1;
          top: 0;
          transition: 0.5s all ease 0.5s;
        }
        .content p {
          opacity: 1;
          top: 0;
          transition: 0.5s all ease 1s;
        }
      }
      .close-button {
        background: white;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #ff2670;
      }
      &.active .close-button {
        animation: 0.5s bounceIn;
      }
      .content p {
        color: white;
        font-weight: 300;
        text-align: center;
        line-height: 1.5;
        font-family: "Moulpali", cursive;
        font-size: 12px;
      }
      .content img {
        width: 30%;
        shape-outside: 100px;
        border-radius: 12px;
        display: block;
        margin: 0 auto 15px;
        box-sizing: border-box;
        background: white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        transition: 0.3s all ease;
      }
      .content p a {
        font-size: 12px;
        background: white;
        padding: 2.5px 5px;
        color: #ff2670;
        text-decoration: none;
        border-radius: 50px;
        display: inline-block;
        margin-left: 1.5px;
      }
      .content img,
      .content p {
        opacity: 0;
        position: relative;
        top: -7.5px;
      }
    }
  }
}

button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  z-index: 9;
  position: relative;
}

@-webkit-keyframes rippling {
  25% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes rippling {
  25% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes rippling {
  25% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
